<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'vue/favicon.ico' %}">
    <title>My Vue App</title>
    <link href="{% static 'vue/css/app.2cf79ad6.css' %}" rel="stylesheet">
    <script defer="defer" src="{% static 'vue/js/chunk-vendors.c2aa632b.js' %}"></script>
    <script defer="defer" src="{% static 'vue/js/app.395c9bb6.js' %}"></script>
</head>
<body>
    <noscript>
        <strong>We're sorry but vue-js doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
</body>
</html>
