<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React App</title>
    <!-- Подключаем CSS стили React приложения -->
    <link href="{% static 'css/main.f855e6bc.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Добавляем контейнер для реакт компонента -->
    <div id="root"></div>
    <!-- Подключаем скрипты React приложения -->
    <script src="{% static 'js/main.899c934d.js' %}"></script>
    <script src="{% static 'js/453.de759066.chunk.js' %}"></script>
</body>
</html>
